*.pyc
.pydevproject
.idea/
*.project
build/
test1/
dist/
gui.build/
node.build/
workspace/
*.log
*.log.*
node.log.*
wallet.log.*
privkey.der
pubkey.der
wallet.der
address.txt
mempool.db
ledger.db
index.db
static/regmode.
static/regmode.*
static/index_reg.*
heavy3a.bin
/theme
config_custom.txt
sequencing_last
