# Pip3 requirements - synced with requirements-node since wallet is now separate.

# You need to manually run the following line first
# pip3 install simple-crypt --no-deps

# Now the minimal modules needed for a full install

bismuthcore>=0.0.10
PySocks
pycryptodomex
requests
polysign>=0.1.0
base58
# coincurve
# ed25519
